body{

background:#f5f7fa;
font-family:Poppins,sans-serif;

}

.card{

border:none;
border-radius:15px;

}

.card-body{

padding:30px;

}

h2{

font-weight:700;

}

.navbar{

padding:15px;

}

.btn-light{

font-weight:600;

}